setuptools
wheel
matplotlib
numpy==1.24
-f https://download.pytorch.org/whl/cpu
torch==1.12.0
evnn_pytorch @ git+https://github.com/Efficient-Scalable-Machine-Learning/EvNN.git@03f79300e23c8c676207c58b13d1ba92116848a2